# APP CONFIG
APP_ENV=development
HOST=localhost
PORT=8000

# DB CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=db_name
DB_SSLMODE=disable

# CACHE CONFIG
CACHE_PORT=6739
CACHE_HOST=localhost

# LOGGER CONFIG
LOG_LEVEL=info
LOG_JSON=true

# COOKIE CONFIG
COOKIE_NAME=session
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_MAX_AGE=604800