# DB CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=dbname
DB_SSLMODE=disable

# CACHE CONFIG
CACHE_PORT=6739
CACHE_HOST=localhost

# APP CONFIG
HOST=localhost
PORT=8000

# LOGGER CONFIG
LOG_LEVEL=info
LOG_JSON=true